<%- include("./partials/header")   %>

  <div class="container">
    <h1 class="mb-4">New Blog</h1>

    <form action="/new" method="POST">
      <%- include('./forms') %>
    </form>
    
  </div>
<%- include("./partials/footer")  %>